@model InterestCalculatorMVC.Models.Account

@{
    ViewData["Title"] = "Input";
}

<h1>Input</h1>

<div>
    <h4>Account</h4>
    <hr />
    <table class="table table-sm">
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Balance)</td>
                <td>@Html.DisplayFor(model => model.Balance)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Rate)</td>
                <td>@Html.DisplayFor(model => model.Rate)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Months)</td>
                <td>@Html.DisplayFor(model => model.Months)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Interest)</td>
                <td>@Html.DisplayFor(model => model.Interest)</td>
            </tr>
            
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
